
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("Attack to vulnerable controller", "HackerVulnerableCSRF", "Home")
    </li>
    <li class="list-group-item">
        @Html.ActionLink("Attack to not vulnerable controller", "HackerNotVulnerableCSRF", "Home")
    </li>
</ul>