
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Attack to vulnerable", "HackerVulnerableCSRF", "Home")
@Html.ActionLink("Attack to vulnerable", "HackerNotVulnerableCSRF", "Home")