
@{
    ViewBag.Title = "Login";
}

<h2>Who are you?</h2>

@using (Html.BeginForm())
{
    <div>
        <label>
            User:
            <input class="form-control" type="text" name="user" value="" required />
        </label>
    </div>
    <div>
        <label>
            Password:
            <input class="form-control" type="password" name="password" value="" required />
        </label>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
}